{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/daily_plan.css' %}" rel="stylesheet">
</head>
    <body>

        <div>
        <caption>{{date.date|date:'Y-m-d'}} {{week_day}}</caption>
            <a href="{%  url 'oppattern:daily_plan' %}" class="back">POWRÓT</a>
        <table>
            <thead>
            <tr>
            <th class="classroom">Sale </th>
               {% for time in time_list %}
                <th class="hours"><time> {{ time|time:"H:i" }} </time></th>
               {% endfor %}
            </tr>
           </thead>
            <tbody>

            {% for key, value in subjects.items %}
            <tr><th class="classroom">{{key}}</th>
                {% for class in value %}
                    <th colspan="{{class.merged_cell}}" class="subjects" >{{class.subject_name}}</th>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </body>
</html>