{% extends "oppattern/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div >

        {% block content %}
        <div class="container-fluid">
        <caption>{{date.date|date:'Y-m-d'}} {{week_day}}</caption>
        <table  class="table table-striped"  border="2px solid black">
            <thead>
            <tr>
            <th style="text-align: center">Sale </th>
               {% for time in time_list %}
                <th><time> {{ time|time:"H:i" }} </time></th>
               {% endfor %}
            </tr>
           </thead>
            <tbody>

            {% for key, value in subjects.items %}
            <tr style="text-align: center"><th>{{key}}</th>
                {% for class in value %}
                    <th colspan="{{class.merged_cell}}" style="text-align: center">{{class.subject_name}}</th>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% endblock content %}
    </body>
</html>